.btn-back {
	margin-top: 20px;
	margin-left: 65px;
}

.user-posts {
	list-style-type: none;
	margin: 15px;
}

.user-posts li {
	font-size: 16px;
	padding: 10px 15px;
}

.post__title {
	font-size: 20px;
	font-weight: 500;
}