.back,
.edit {
	display: inline-block;
	margin-top: 15px;
}

.back {
	margin-left: 35px;
	margin-right: 20px;
}

form[name="user-data-form"] {
	width: 400px;
	margin: 20px;
	padding: 15px;
	font-size: 16px;
}

form[name="user-data-form"] input {
	display: block;
	width: 100%;
	padding: 10px;
	margin: 0 0 15px;
}